.button {
	background-color: blue;
	border: none;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.6s;
	font-size: 16px;
	color: white;
	 border-radius: 15px 50px 30px;
	float: left;
	width: 15%;
	margin-left: 1%;
	text-shadow: 3px 2px black; 
	text-transform: capitalize;
		
}
.button:hover {
    background-color: lightblue;
    color: blue;
    text-shadow: 3px 2px white;
    box-shadow: 0 12px 16px 0;
}
.red{
	color: white;
	background-color: red;
	padding: 16px 32px;
	transition-duration: .6s;
	font-size: 16px;
	border-radius: 15px 50px 30px;
	text-align: center;
	text-decoration: none;
	border: none;
	width: 15%;
	text-shadow: 3px 2px black;
	text-transform: capitalize;
	margin-left: 1%;
}
.red:hover{box-shadow: 0 12px 16px 0;
	background-color: orange;
	color: red;
	text-shadow: 3px 2px white;
}
.yellow {
	color: white;
	background-color: black;
	font-size: 16px;
	padding: 16px 32px;
	transition-duration: .6s;
	border-radius: 15px 50px 30px;
	border: none;
	float: left;
	width: 15%;
	text-shadow: 3px 2px black;
	text-transform: capitalize;
	margin-left: 1%;

}
.yellow:hover{ color: black;
	background-color: lightgrey;
	box-shadow: 0 12px 16px 0;
	text-shadow: 3px 2px white;
}

.green {
	color: white;
	background-color: green;
	padding:16px 32px;
	float: left;
	text-align: center;
	font-size: 16px;
	transition-duration: .6s;
	width: 15%;
	border-radius: 15px 50px 30px;
	border: none;
	text-shadow: 3px 2px black;
	margin-left: 1%;
	text-transform: capitalize;
}
.green:hover{
	background-color: lightgreen;
	color: green;
	text-shadow: 3px 2px white;
	box-shadow: 0 12px 16px 0 ;
}
h1{
	border-left: 6px solid red;
	background-color: #f0f0f0;
	padding: 16px 32px;
	text-align: left;
	text-transform: capitalize; 
	text-shadow: 3px 2px orange;
	color: red;
	margin-left: 0%;
	margin-top: 5%;
	transition-duration: .8s;
}
h1:hover{
	color: black;
	box-shadow: 0 12px 16px 0 ;
}
.ul {
	background: pink;
	padding: 20px 35px;
	border-radius: 16px;
}
.li { list-style-type: none;
	font-size: 20px;
	color: darkred;
	margin: 15px 20px;
	background-color: white;
	border-radius: 8px;
	padding: 10px;
	font-weight: bold;
}
.abc{ list-style-type: none;
	border-left: 8px solid orange;
	background-color: grey;
	border-radius: 8px;
	overflow: hidden;
	position: -webkit-sticky;
	position: sticky;
	width:96%;
	margin: 0;
	border-top: 8px solid orange;
	top:0;
	transition-duration: .8s;
}
.abc:hover{
	box-shadow: 0 12px 16px 0 ;
	background-color: lightcyan;
	color: black;	
}
.ab{
	float: left;
}
.ab a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 18px;
	transition-duration: .6s;
	font-size: 20px;
	
}
.ab a:hover{
	background-color: orange;
}
.abc:hover{
	color: black;
}
#home{
	background-color: #4CAF50;
}
#dif {
	float: left;
	color:white;
	background-color: violet;
	transition-duration: .6s;
	font-size: 16px;
	padding: 16px 32px;
	text-shadow:3px 2px  black;
	text-align: center;
	border-radius: 15px 50px 30px;
	width: 15%;
	text-transform: capitalize;
	margin-left:1%;
	
}
#dif:hover {
	color:darkred;
	background-color:hotpink;
	text-shadow:3px 2px white;
	box-shadow: 0 12px 16px 0
}
.cl{
	list-style-type: none;
	margin:0px 0px;
	padding: 0;
	width: 15%;
	background-color: lightgrey;
	text-transform: capitalize;
	position: fixed;
	height: 100%;
	overflow: auto;
}
.clf a{
	display: block;
	color: black;
	padding: 8px 16px;
	transition-duration: .6s;
	text-align: left;
	text-decoration: none;
}
.clf a:hover{
	background-color: grey;
	color: white;
}
div{
	padding: 1px;
	height:1000px;
	margin-left: 15%;
}
body{
	margin: 0;
	padding: 0;
	 background: linear-gradient(to left top,cyan,orange);
}
.header{
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 20px;
	text-shadow: 4px 4px black;
	color: white;
}